
## <summary>policy for qnodecoin</summary>


########################################
## <summary>
##	Transition to qnodecoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`qnodecoin_domtrans',`
	gen_require(`
		type qnodecoin_t, qnodecoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, qnodecoin_exec_t, qnodecoin_t)
')


########################################
## <summary>
##	Execute qnodecoin server in the qnodecoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qnodecoin_initrc_domtrans',`
	gen_require(`
		type qnodecoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, qnodecoin_initrc_exec_t)
')


########################################
## <summary>
##	Search qnodecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qnodecoin_search_lib',`
	gen_require(`
		type qnodecoin_var_lib_t;
	')

	allow $1 qnodecoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read qnodecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qnodecoin_read_lib_files',`
	gen_require(`
		type qnodecoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, qnodecoin_var_lib_t, qnodecoin_var_lib_t)
')

########################################
## <summary>
##	Manage qnodecoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qnodecoin_manage_lib_files',`
	gen_require(`
		type qnodecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, qnodecoin_var_lib_t, qnodecoin_var_lib_t)
')

########################################
## <summary>
##	Manage qnodecoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`qnodecoin_manage_lib_dirs',`
	gen_require(`
		type qnodecoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, qnodecoin_var_lib_t, qnodecoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a qnodecoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`qnodecoin_admin',`
	gen_require(`
		type qnodecoin_t;
		type qnodecoin_initrc_exec_t;
		type qnodecoin_var_lib_t;
	')

	allow $1 qnodecoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, qnodecoin_t)

	qnodecoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 qnodecoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, qnodecoin_var_lib_t)

')

